@{
    ViewBag.Title = "Instructions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <p id="instructions" class=" help-block">
        Enter a whole number and press enter or hit the Show button. It must be 1 or greater than 1 in the text box.
    </p>
</div>